* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
  border: 2px solid red;
}

.simple-keyboard {
  background: #0e172e;
}
.simple-keyboard .hg-button {
  background: #344265;
  color: #fff;
}

.simple-keyboard.hg-layout-tel .hg-button {
  width: 1rem;
}

.simple-keyboard.hg-layout-numeric .hg-button {
  height: 40px;
}

.simple-keyboard.hg-layout-default .hg-button-close {
  flex-grow: 0.08;
}

.simple-keyboard .hg-button:active {
  background: #fff;
  color: black;
}

.g6-contextmenu {
  box-shadow: none !important;
  background: none !important;
}

.context-menu-container {
  width: 120px;
  height: 120px;
  /* background: red; */
  border-radius: 100%;
  position: relative;

  background: rgb(6, 6, 89);
  background: radial-gradient(circle, #00000000 20%, #000000 20%, #000000 100%);
}
